/*Universal Styles*/
html {
  font-size: 16px;
  font-family: "Open Sans";
  margin: 0;
  width: 100%;
}

body {
  margin: 0;
}
li a {
  font-size: 1.1rem;
  font-family: "Open Sans";
  font-weight: bold;
}

img {
  width: 100%;
}

.center, h1, strong {
  text-align: center;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: row;

}

.box {
  max-width: 51.3rem;
}

.shadow {
  text-shadow: -1px -1px 0 black, 1px 1px 0 black, -1px -1px 0 black, 1px 1px 0 black;
}
.box-shadow {
  border: 1px solid black;
  box-shadow: -1px -1px 0 #399bd1, 1px 1px 0 #399bd1, -1px -1px 0 #399bd1, 1px 1px 0 #399bd1;
  padding: 5%;
}
.split {
  width: 50%;

}
.middle {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 10;
  margin-top: 75px;
}

.hide {
  display: none;
}
/*Float properties*/
.left {
  float: left;
}
.right {
  float: right;
}
/*a {
  display: inline;
}*/

/*Navigation*/
.nav .navbar-nav li a {
  float: left;
}
.navbar .navbar-default {
  margin-bottom: 0;
}
.navbar {
  margin-bottom: 0;
}
.navbar-default .navbar-nav .active,
.navbar-default .navbar-nav .active:hover {
  color: #399bd1;
}

.hide {
  display: none;
}

/*Jumbotron Section*/
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;
}
.jumbotron-fluid p {
  max-width: 51.3rem;
  margin: auto;
  font-size: 1.25rem;
  font-weight: 200;
  color: white;
}

.jumbotron-fluid h1 {
  font-family: "Monoton";
  font-size: 7.1rem;
  text-align: center;
  color: white;
  font-weight: 500;
  max-width: 100%;
  text-shadow: -1px -1px 0 #399bd1, 1px 1px 0 #399bd1, -1px -1px 0 black, 1px 1px 0 black;
}

.jumbrotron {
  background-size: cover;
  background-position: center;
  repeat: no-repeat;
  width: 100%;
  height: auto;
  padding: 0 !important;
  margin-top: 0;
}
.jumbotron .jumbotron-fluid {
  padding-top: 0 !important;
}

.relative-wrapper {
  z-index: 10;
  position: relative;
  top: -16rem;
  width: 100%;
  text-align: center;
  padding: 5rem;
}

.btn {
  margin: auto;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  width: 11.4rem;
}
/*   BIKE IMAGE   */
.jumbotron-bike {
  background-image: url("https://github.com/J2smoov4u/jumpstart/blob/master/resources/images/jumbotron-bike.jpg?raw=true");
  background-size: cover;
  background-position: center;
  repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-top: 15.85rem;
  padding-bottom: 15.85rem;
}

/*    BEER IMAGE   */
.jumbotron-beer {
  background-image: url("https://github.com/J2smoov4u/jumpstart/blob/master/resources/images/jumbotron-beer.jpg?raw=true");
  background-size: cover;
  background-position: center;
  repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-top: 15.85rem;
  padding-bottom: 15.85rem;
}

/*   FLOWER IMAGE   */
.jumbotron-flowers {
  background-image: url("https://github.com/J2smoov4u/jumpstart/blob/master/resources/images/jumbotron-flowers.jpg?raw=true");
  background-size: cover;
  background-position: center;
  repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-top: 15.85rem;
  padding-bottom: 15.85rem;
}

/*   DUFFLE-BAG IMAGE   */
.jumbotron-duffel {
  background-image: url("https://github.com/J2smoov4u/jumpstart/blob/master/resources/images/jumbotron-duffel.jpg?raw=true");
  background-size: cover;
  background-position: center;
  repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-top: 15.85rem;
  padding-bottom: 15.85rem;
}

/*FEATURED PROJECTS SECTION- ALL IN ROWS*/
.projects {
  margin-bottom: 5.8rem;
}
.row h2 {
  margin: 1rem;
}
.row li {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}
.row li:nth-child(3n + 0) {
  color: #399bd1;
}
li:hover {
  font-weight: 600;
  cursor: context-menu;
}

.blue {
  color: #399bd1;
}

#author {
  font-weight: 200;
}

.image-container , .image-container1 {
  overflow: hidden;
  box-shadow: 4px 4px 2px #399bd1, 2px 2px 2px #399bd1, 4px 4px 2px black;
}
.image-container a img {
  opacity: 0.65;
  min-height: 13.5rem;
  overflow: hidden;
  transition: all 0.5 ease 0.5;
}
.image-container a img:hover {
  opacity: 1;
  transform: scale(1.3);
  min-height: 13.5rem;
  overflow: hidden;
  transition: transform 500ms, opacity 500ms;
}
.image-container1 a img {
  opacity: 0.65;
  max-height: 19rem;
  width: 100%;
  overflow: hidden;
  transition: all 0.5 ease 0.5;
}
.image-container1 a img:hover {
  opacity: 1;
  margin-top: 20px;
  transform: scale(1.3);
  max-height: 19rem;
  overflow: hidden;
  transition: transform 500ms;
  transition: opacity 500ms;
  transition: all 0.5 ease 0.5;
}
.feature .image-container1 {
  min-height: 19rem;
  margin-top: 20px;
}

#big {
  overflow: hidden;
  padding: 0;
}

/*ADD ANIMATION TO PICTURES*/
/*.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}*/

/*   HELP SECTION   */
.help strong {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
}
.help p {
  max-width: 42rem;
  margin-bottom: 2rem;
}
.help {
  padding: 5.2rem;
  background-color: #f3f3f3;
  margin-top: 5.85rem;
  width: 100%;
}
.help .container-fluid {
  width: 100%;
}
/*   MEDIA QUERIES MOBILE   */
@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
    width: 100%;
  }
  body {
    padding: .5rem;
  }

  .jumbotron-fluid h1 {
    font-size: 4rem;
    max-width: 100%;
  }
  ul li a {
    display:none;
  }
  .nav .navbar-nav img {
    float: left;
  }
  p {
    line-height: 1.4;
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  .image-container1 a img, .image-container a img {
    opacity: 1;
  }
}
/*   MEDIA QUERIES TABLET   */
@media only screen and (max-width: 768px) {
  html {font-size: 12px;}
  .jumbotron-fluid h1 {
    font-size: 4.75rem;
    max-width: 100%;
  }
  .image-container1 a img, .image-container a img {
    opacity: 1;
  }

}
