/*Universal Styles*/
html {
  font-size: 16px;
  font-family: "Open Sans";
  margin: 0;
}

li a {
  font-size: 1.1rem;
  font-family: "Open Sans";
  font-weight: bold;
}

img {
  width: 100%;
}

.center, h1 {
  text-align: center;
}

.flex {
  display: flex;
}

.box {
  max-width: 51.3rem;
}

.shadow {
  text-shadow: -1px -1px 0 black, 1px 1px 0 black, -1px -1px 0 black, 1px 1px 0 black;
}
/*a {
  display: inline;
}*/

/*Navigation*/
.nav .navbar-nav li a {
  float: left;
}

.navbar-default .navbar-nav .active,
.navbar-default .navbar-nav .active:hover {
  color: #399bd1;
}

.hide {
  display: none;
}

/*Jumbotron Section*/
.jumbotron p {
  max-width: 51.3rem;
  margin: auto;
  font-size: 1.25rem;
  font-weight: 200;
  color: white;
}

.jumbotron h1 {
  font-family: "Monoton";
  font-size: 7.1rem;
  color: white;
  font-weight: 500;
  text-shadow: -1px -1px 0 black, 1px 1px 0 black, -1px -1px 0 black, 1px 1px 0 black;
}

.jumbrotron {
  background-size: cover;
  background-position: center;
  repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-top: 11.85rem;
  padding-bottom: 11.85rem;
}

.relative-wrapper {
  margin: auto;
  
}
/*   BIKE IMAGE   */
.jumbotron-bike {
  background-image: url("https://github.com/J2smoov4u/jumpstart/blob/master/resources/images/jumbotron-bike.jpg?raw=true");
  background-size: cover;
  background-position: center;
  repeat: no-repeat;
  width: auto;
  height: auto;
  padding-top: 11.85rem;
  padding-bottom: 11.85rem;
}

/*    BEER IMAGE   */
.jumbotron-beer {
  background-image: url("https://github.com/J2smoov4u/jumpstart/blob/master/resources/images/jumbotron-beer.jpg?raw=true");
  background-size: cover;
  background-position: center;
  repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-top: 11.85rem;
  padding-bottom: 11.85rem;
}

/*   FLOWER IMAGE   */
.jumbotron-flowers {
  background-image: url("https://github.com/J2smoov4u/jumpstart/blob/master/resources/images/jumbotron-flowers.jpg?raw=true");
  background-size: cover;
  background-position: center;
  repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-top: 11.85rem;
  padding-bottom: 11.85rem;
}
/*   DUFFLE-BAG IMAGE   */
.jumbotron-duffel {
  background-image: url("https://github.com/J2smoov4u/jumpstart/blob/master/resources/images/jumbotron-duffel.jpg?raw=true");
  background-size: cover;
  background-position: center;
  repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-top: 11.85rem;
  padding-bottom: 11.85rem;
}
